*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body{
  width: 100vw;
  height: 100vh;
  min-width: 440px;
  min-height: 740px;
  background: black;
  color:  white;
}

body > h1{
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

main {
  height: calc(100% - 50px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: hidden;
}

main .feed{
  height: calc(100% - 70px);
  width: calc(100% - 2rem);
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(23 23 23);
}

main form{
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
}

main form input{
  width: calc(75% - 15px);
  height: calc(100% - 2px);
  padding-left: 10px;
  padding-right: 5px;
  border: 1px solid #c8c8c8;
  outline: none;
  border-bottom-left-radius: 5px;
}

main form button{
  flex: 1;
  height: 100%;
  border-bottom-right-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #3861d8;
}


.feed > div{
  width: 100%;
  display: flex;
}
.feed > div div{
  width: 65%;
}
.feed > div div p{
  width: fit-content;
  padding: 5px 5px;
  margin: 5px 0;
  color:  white;
}
.feed > div.mine,
.feed > div.mine > div{
  display: flex;
  justify-content:flex-start;
}
.feed > div.mine p{
  background: #2e63ff;
  border-radius: 5px 5px 5px 0;
}
.feed > div.others,
.feed > div.others > div{
  display: flex;
  justify-content: flex-end;
}
.feed > div.others p{
  background: #bebebe;
  border-radius: 5px 5px 0 5px;
}
