/* Styles */

/* Variables */
:root{
  --screen-w: calc(100% - 4em);
  --screen-radius: 35px;
  --screen-w-border: calc(100% - 4em - 4px);
  --border-w: 2px;
}
/* End Variables  */


/* Helper Classes */
.flx-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Helper Classes */


*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body{
  width: 100vw;
  height: 100vh;
  min-width: 440px;
  min-height: 740px;
  background: linear-gradient(.15turn,#efefef 33%, #e9e7e7 33%, #e9e7e7 66%, #e1e1e1 66%);
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 750px;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: var(--screen-radius);
  background: white;
}
main::before{
  z-index: -1;
  content: '';
  position: absolute;
  top: -1em;
  left: -1em;
  height: calc(100% + 2em);
  width: calc(100% + 2em);
  border-radius: calc(var(--screen-radius) + 1em);
  border: 1px solid #ffffffad;
  background: #b5aeba2b;
}

main .feed{
  height: 75%;
  width: var(--screen-w);
}

main form{
  width: var(--screen-w-border);
  height: 60px;
  margin-bottom: 2em;
  display: flex;
  border: var(--border-w) solid black;
  border-radius: calc(var(--screen-radius) - 1.5em);
  overflow: hidden;
}

main form input{
  width: calc(75% - 15px);
  height: calc(100% - 2px);
  padding-left: 10px;
  padding-right: 5px;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
}

main form button{
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
}
main form button span{
  display: block;
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  border-radius: calc(var(--screen-radius) - 2em);
  color: white;
  text-transform: uppercase;
  background: #3861d8;
}


/* Feed Functionality */
.feed > div{
  width: 100%;
  display: flex;
}
.feed > div div{
  width: 65%;
}
.feed > div div p{
  width: fit-content;
  padding: 10px 15px;
  margin: 5px 0;
  color:  white;
  border: var(--border-w) solid black;
}
.feed > div.mine,
.feed > div.mine > div{
  display: flex;
  justify-content:flex-end;
}
.feed > div.mine p{
  background: #2e63ff;
  border-radius: 25px 25px 0px 25px;
}
.feed > div.others,
.feed > div.others > div{
  display: flex;
  justify-content: flex-start;
}
.feed > div.others p{
  background: #bebebe;
  border-radius: 0px 25px 25px 25px;
}
/* End Feed Functionality */
